%label(for="source_id") Source ID:
%input(type="text" name="source_id" value="#{@friendship.source_id}")

%label(for="target_id") Target ID:
%input(type="text" name="target_id" value="#{@friendship.target_id}")
