%label(for="starter_id") Starter ID:
%input(type="text" name="starter_id" value="#{@friendship.starter_id}")

%label(for="target_id") Target ID:
%input(type="text" name="target_id" value="#{@friendship.target_id}")