%label(for="name") Name:
%input#name(type="text" name="member[name]" value="#{@member.name}")

%label(for="age") Age:
%input#age(type="text" name="member[age]" value="#{@member.age}")

%label(for="email") Email:
%input#email(type="text" name="member[email]" value="#{@member.email}")

%label(for="username") Username:
%input#username(type="text" name="member[username]" value="#{@member.username}")