%h1 User List

%a(href="/user/new") Add a New User

- unless @users.empty?
	%ul#users
	- @users.each do |user|
		%li
			%a(href="/user/#{user.id}") #{user.name}
- else
	%p There aren't any users yet!
